<div id="header">
  <div class="logo">
    <a href="/">Youm!!!<br>メニュー投稿アプリ</a>
  </div>
  <div class="link">
    <ul id="nav">
    <%# <% if user_signed_in? %>
      <li>
         メニュー投稿
       </li>
      <li>
         プロフィール
       </li>
        <li>
         　ログアウト
        </li>
      <%# <% else %>
        <li>
        　新規登録
        </li>
        <li>
         　ログイン
        </li>
      <%# <% end %>
    </ul>
  </div>
</div>