<div class="content-wrapper">
  <div class="content-block">
  <% (1..10).each do |i| %>
    <div class="content">
      <div class="user-about">
       <div class="image">
         <%= image_tag "IMG_6389.jpg" %>
       </div> 

       <div class="profile">
          <div class="name-history">
            <div class="name">
              洋食屋ビストロだん
            </div> 
          </div>
          
        <div class="purpose">
        　昔からある老舗
        </div>
      </div>
       </div>

      <div class="text">
       <p>サンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプル</p>
       <p>サンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプルサンプル</p>
      </div>

      <div class="action-menu">
        <div class="like">
        
        </div>
      </div>
    </div>
  <% end %>
  </div>
</div>


    